Repository trussworks/terraform-aws-lambda-ecs-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.2
    hooks:
      - id: markdownlint

  - repo: git://github.com/antonbabenko/pre-commit-terraform
    rev: v1.31.0
    hooks:
      - id: terraform_docs
      - id: terraform_fmt

Remove the SSM parameters input
  README.md
  main.tf
  variables.tf
Due: none

Read cluster, service, and container ids from body
  functions/manager.py
  main.tf
Due: isort, black, flake8, mypy

Don't read deployment environment name from local env var
  functions/manager.py
  main.tf
Due: isort, black, flake8, mypy

Check runtask entrypoint value is of correct type
  functions/manager.py
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Remove useless locals from main.tf
  main.tf
Due: none

Test runtask checking for required keys
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Remove 'return' that blocked test execution
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Check result.error and result.body types
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Test critical log message emitted
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Fix log level & add test for log emission
  functions/manager.py
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Don't read container_id from the environment
  functions/manager.py
Due: isort, black, flake8, mypy

Require container_id only when entrypoint is set
  functions/manager.py
  tests/test_manager/test_runtask.py
Due: isort, black, flake8, mypy

Add docstring annotations for required keys
  functions/manager.py
Due: isort, black, flake8, mypy

Don't read the container_id without entrypoint
  functions/manager.py
Due: isort, black, flake8, mypy

Replace circleci-docker-primary; upgrade to terraform 13; upgrade aws provider
  .circleci/config.yml
  .gitignore
  README.md
  versions.tf
Due: none

Replace circleci-docker-primary; upgrade to terraform 13; upgrade aws provider
  README.md
Due: none

Fix readme
  README.md
Due: none

Run pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Initial fix to address boto change
  functions/manager.py
Due: isort, black, flake8, mypy

Updating CircleCi config
  .circleci/config.yml
Due: none

Use boto3 built-ins to depaginate SSM results
  functions/manager.py
Due: isort, black, flake8, mypy

Fix cloudwatch log group arn; precommit update
  .pre-commit-config.yaml
  main.tf
Due: none

Increase ecs waiter limits to defaults
  functions/manager.py
Due: isort, black, flake8, mypy

Revert "Merge branch 'master' into terraform012"
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  main.tf
  versions.tf
Due: none

Add code of conduct
  code_of_conduct.md
Due: none

Fix broken contact method
  CODE_OF_CONDUCT.md
Due: none

Fix module version in pyproject.toml
  pyproject.toml
Due: pyproject.toml

Sync build version with release tag
  pyproject.toml
Due: pyproject.toml

Add dockerfilelint pre-commit hook
  .pre-commit-config.yaml
Due: none

Add Dockerfile for ecs-manager python code
  Dockerfile
Due: none

Add package_type setting as an input
  README.md
  main.tf
  variables.tf
Due: none

Add image_uri setting as an input
  README.md
  main.tf
  variables.tf
Due: none

Fix typo in image_uri property name
  main.tf
Due: none

Set image_uri default to null
  README.md
  variables.tf
Due: none

Reorder lamba module properties
  main.tf
Due: none

filename set conditionally on package_type
  main.tf
Due: none

rm redundant docs
  README.md
  variables.tf
Due: none

Bump version to 2.1.2
  pyproject.toml
Due: pyproject.toml
